*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#top-frame{
    background-color: cornflowerblue;
    width: 100vw;
    height: 150px;
    background-image: url(../img/pattern.png);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.logo{
    height: 50px;
    margin-left: 70px;
    margin-top: 70px;
}

.container{
    margin: auto;
    width: 90vw;
}

.sottointestazione{
    color: lightgrey;
}

.sottointestazione .bottom{
    font-size: 12px;
}

.autore{
    color: aqua;
}

.images{
    margin: 25px auto;
}

.didascalie{
    font-size: 12px;
}

section{
    margin: 25px 0;
}

.highlightme{
    background-color: #FFFF00;
}

table{
    border-spacing: 0;
}

.lista{
    margin-left: 20px;
}

#head{
    background-color: dodgerblue;
}

#corpo{
    background-color: lightblue;
}


td,th{
    text-align: left;
}

.colsmall{
    width: 20%;
}

.colbig{
    width: 60%;
}

h3{
    color: lightgrey;
    font-size: 14px;
}

.footimg{
    color: white;
    font-size: 20px;
    height: 208px;
    width: 312px;
    margin: 15px 0;
    padding-top: 20px;
}

.footimg.monitor{
    background-image: url(../img/monitor.jpg);
}

.footimg.graph{
    background-image: url(../img/graph.jpg);
}

.footertext{
    font-size: 30px;
    margin-left: 20px;
}
